@font-face {
    font-family: 'Manrope';
    src: url('assets/Manrope-VariableFont_wght.woff2') format('woff2');
    /* Add additional font formats if necessary */
    font-weight: normal;
    font-style: normal;
}
:root{
    --black: #000000;
    --white: #ffffff;
}
@media screen and (max-width: 431px) {
    .sec1{
        height: 600px;
        background-color: black;
    }
    body{
        background-color: white;
        color: white;
        font-family: 'Manrope', sans-serif;
    }
    .topButtons{
        width: 327px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .topButtonsDiv{
        height: 58px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .xx99Div{
        color: white;
        display: flex;
        background-color: black;
        width: 100%;
        padding: 1.6rem;
    }

    .xx99{
        position: absolute;
        opacity: 80%;
        top: 70px;
        height: 520px;
        max-width: 375px;
    }
    .xx99Inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        gap: 2.5rem;
        width: 300px;
        height: 275px;
        top: 218px;
        left: 13.5%;
        text-align: center;
    }

    .np{
        position: absolute;
        height: 19px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        opacity: 0.5;
    }
    .mk2{
        margin-top: 4px;
        height: 80px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.28571px;
    }
    .mk2Des{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        opacity: 0.75;
    }
    .seePr{
        margin-left: -6px;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        color: white;
        background-color: #D87D4A;
        position: absolute;
        left: 25.61%;
        right: 25.61%;
        top: 83.45%;
        width: 160px;
        height: 48px;
       cursor: pointer;
    }
    .soundDevices{
        font-weight: 700;
        position: relative;
        width: 327px;
        height: 683px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 3.2rem;
        color: black;
        z-index: 4;
        justify-content: flex-end;
    }
    .posImg{

    }
    .earphonesDiv,.speakersDiv,.headphonesDiv{
        width: 327px;
        height: 165px;
        border-radius: 8px;
        background-color: #F1F1F1;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        gap: 17px;
    }
    .proT{
        height: 20px;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.07143px;
        text-transform: uppercase;
        margin-top: 36px;
    }
    .shop{
        display: inline-flex;
        justify-content: space-between;
        width: 57.32px;
        height: 18px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;

    }
    .shopFnt{
        opacity: 0.5;
    }
    .hd,.spk,.ear{
        position: absolute;
    }
    .hd{
        top: 5%;
        left: 38%;
        width: 84px;
        height: 101px;
        z-index: 0;
    }
    .spk{
        top: 37%;
        left: 38%;
        width: 80px;
        height: 104px;
    }
    .ear{
        left: 34%;
        top: 70%;
        width: 103px;
        height: 104px;
    }
    .speakersDiv{

    }
    .headphonesDiv{

    }
}

